.hero-carousel {
  margin: 3em;
  padding: 0;
  max-width: 800px;
  border-radius: 15% 0px;
  border: var(--primary-color) 2px solid;
  overflow: hidden;
  background-color: var(--primary-color);
}

.hero {
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: auto;
}
