.hero-carousel {
  margin: 2em;
  padding: 0;
  max-width: 1000px;
}

.hero {
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: auto;
  display: none;
}

.hero:hover,
.hero:focus {
  cursor: pointer;
}

.hero.active {
  display: block;
}
