.navbar {
  background-color: var(--banner-bg);
  margin-bottom: 1.5em;
  padding: 1.5em;
}

.nav-links {
  max-width: 400px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.nav-link {
  display: inline;
  font-size: xx-large;
}
