.footer {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  background-color: var(--banner-bg);
  padding: 1.5em;
}

.icon {
  height: 25px;
}

.github-link {
  color: azure;
  vertical-align: text-bottom;
  padding: 0 0.5em;
  font-size: x-large;
}
