:root {
  --main-bg: #a0ccbd;
  --banner-bg: #0f6631;
  --primary-color: #ffffc0;
}

@property --offset {
  syntax: '<length>';
  inherits: false;
  initial-value: 0;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg);
  font-family: 'Italiana', sans-serif;
  font-size: x-large;
  color: var(--primary-color);
}

.main {
  display: flex;
  max-width: 1200px;
  margin: auto;
  flex-direction: column;
  align-items: center;
}

.main > * {
  width: 80vw;
}

.link {
  font-style: normal;
  text-align: center;
  text-decoration: none;
  text-underline-offset: var(--offset, 0.2em);
  transition: --offset 400ms, text-decoration-color 400ms;
}

.link:hover,
.link:focus {
  cursor: pointer;
  text-decoration: underline;
  --offset: 0.4em;
}

.tile {
  border-radius: 0px 15%;
  border: var(--primary-color) 2px solid;
  overflow: hidden;
  background-color: var(--banner-bg);
}

.shadow {
  box-shadow: 0 8px 32px 0 rgba(0, 60, 3, 0.5);
}
