.details-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

@media (max-width: 1000px) {
  .details-container {
    flex-direction: column;
    align-items: center;
    padding: 1em;
  }

  .details-container > .card {
    min-width: 300px;
  }

  .details-container > .card:first-of-type {
    margin-top: 0;
  }
}
